body {
    background: #3b30cf;
}

.bg-purple {
    background-color: #df1717;
}

.bg-purpleclear {
    background-color: #1b29f5;
}

.btn-purpledark {
    background-color: #06366d;
}

.table-purple {
    background-color: #02475c;
}